/* Enter your custom styles here */

/* Clase personalizada para el badge de orden */
.myOrderBadge {
    font-size: 0.63rem !important; /* Tamaño más pequeño */
    font-weight: bold;
    padding: 0 4px;
    border-radius: 4px;
}

/* Ajuste opcional para reducir el espacio entre la orden y el badge */
.sapMVBox.sapUiFontSmall {
    gap: 0px !important;
}

.scrollableContainer {
    overflow-x: auto !important;
    display: block;
    width: 100%;
}

/* Previene que el texto dentro de la tabla rompa el layout */
.sapMListTblCell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mejora el contenedor de detalle del plan */
.sapMScrollContVertical {
    min-width: 300px;
}

/* Asegura que el contenedor de scroll permita el desbordamiento */
.sapMScrollContHorizontal {
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
}

/* Opcional: Asegura que el texto no se force a saltar de línea */
.sapMListTblCell .sapMLabel, 
.sapMListTblCell .sapMText {
    white-space: nowrap;
}